vendor/system/app/WebViewGoogle/WebViewGoogle.apk filter=lfs diff=lfs merge=lfs -text
vendor/BOOTABLE_IMAGES/boot.img filter=lfs diff=lfs merge=lfs -text
vendor/system/preset_apps/androidqq_6_6_6_3025_android_r270473_nubia_537049961_cid78675_nid50312_release/androidqq_6_6_6_3025_android_r270473_nubia_537049961_cid78675_nid50312_release.apk filter=lfs diff=lfs merge=lfs -text
